<div id="page">
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div id="colorlib-logo"><a href="body.php"><div class="textlogo">PYR<img src="img/logo1.png" height="30px" width="30px">MYDE</div> </a></div>
                    </div>
                    <div class="col-xs-10 text-right menu-1"  style="scroll-behavior: smooth;">


                        <ul>
                            <li class="active"><a href="body.php">Home</a></li>
                            <li class="has-dropdown">
                                <a href="shop.html">Shop</a>
                                <ul class="dropdown" >
                                    <li><a href="#pc-category" class="pc-redirect">Pc/Laptops</a></li>
                                    <li><a href="#" >Accessories</a></li>
                                    <li><a href="#mobile-category" class="mobile-redirect">Mobile</a></li>
                                </ul>
                            </li>

                            <li><a href="#footerr">About</a></li>
                            <li><a href="form.php">Login/Signup</a></li>
                            <li><a href="cart.html"><i class="fas fa-shopping-cart"></i> Cart [0]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>