{% extends 'base.html.twig' %}

{% block page %}
{% block body %}
    <div class="container">
        {% for category in categories %}
            {% if not category.deletedAt %}
                <h1>{{ category.categoryName }} </h1>
                <br>
                <a href={{ path('category.delete', {'id': category.getCategoryId()}) }}>delete</a>
                <a href={{ path('category.edit', {'category': category.getCategoryId()}) }}>edit</a>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}
{% endblock %}
